.nav-bar{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    height: 100vh;

    background-color: #FBFBFB;
}
.logo{
    width: 100%;
    height: 200px;
    margin: 0px;
    object-fit: contain;
    img{
        width: 100%;
        height: 100%;
    }
}
.btn-container{
    display: flex;
    flex-direction: column;
    .tab-btn{
        display: flex;
        align-items: center;
        background-color: #FBFBFB;
        margin: 15px 25px;
        padding: 10px  0px;
        font-size: 26px;
        width: 75%;
        gap: 10px;
        color: #848489;
        border-bottom: 1px solid #EBEBEB;
        border-top: none;
        border-left: none;
        border-right: none;
        .icon{           
            width: 45px;
            height: 45px;
            margin:0;
           img{
            width: 100%;
            height: 100%;
           }
        }
        .tab-name{
            font-size: 22px;
            color: #848489;
            margin: 0;
            font-family: 'SF Pro Display';
            width: 60%;

            text-align: initial;
        }
        .arrow{
            width: 20px;
            margin:0;
            height: 35px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
// ::hover{
// .tab-name{
//     text-decoration: underline;
// }
// }
// {nav bar mobile back}
.mobilenav {
    display: none;
    // display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row-reverse;

    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    top: 0;
    z-index: 11111111111111;
    color: white;
    .mobileback {
      height: 100%;
      width: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.9);
      div {
        margin: 270px 0px 0px 40px;
        figure {
          width: 35px;
          height: 35px;
          position: relative;
        }
      }
    }
    .mobilebar {
      display: flex;
      width:100% ;
      flex-direction: column;
      // div {
      // }
      figure {
        position: relative;
        // margin: 36px 0px 32px 46px;
      }
      .uppernav {
        padding: 33px 0px 0px 46px;
        border-top: 0.5px solid #ffffff;
        list-style-type: none;
        li {
          padding-bottom: 33px;
        }
      }
    }
  }
@media only screen and (max-width: 900px) {
  .nav-bar{
    display: none;
  }
  .mobilenav {
    display: flex;
    .nav-bar{
        display: flex;
      }
}
}